# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
data/raw/*.csv
data/processed/*.csv

# Virtual Environments
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/